@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>ACCESO NO PERMITIDO ⛔</h1>
<p>No tienes los permisos necesarios para acceder a esta página.</p>