@model LoginViewModel

<main class="flex-grow-1 d-flex align-items-center justify-content-center py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="card shadow-lg border-0 rounded-3">
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="card-title text-center mb-4 h3">Iniciar sesión</h2>
                        <form method="post" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="mb-3">
                                <label class="form-label visually-hidden">Correo electrónico</label>
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="ejemplo@correo.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label visually-hidden" for="password">Contraseña</label>
                                <input asp-for="Clave" class="form-control form-control-lg" placeholder="Ingresa tu contraseña" />
                                <span asp-validation-for="Clave" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="Recordarme" />
                                    <label class="form-check-label"> Recordarme </label>
                                </div>
                                <a class="btn btn-link text-decoration-none p-0" href="#">¿Olvidaste tu contraseña?</a>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>