@model maxi_movie_mvc.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">

    <div class="col-6">
    <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea asp-for="Sinopsis" class="form-control"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="FechaLanzamiento" class="control-label"></label>
                <input asp-for="FechaLanzamiento" class="form-control" />
                <span asp-validation-for="FechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="MinutosDuracion" class="control-label"></label>
                <input asp-for="MinutosDuracion" class="form-control" />
                <span asp-validation-for="MinutosDuracion" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="PosterUrlPortada" class="control-label"></label>
                <input asp-for="PosterUrlPortada" class="form-control" />
                <span asp-validation-for="PosterUrlPortada" class="text-danger"></span>
            </div>
            <div class="col-6">
                Género
                <select asp-for="GeneroId" class="form-select" asp-items="ViewBag.GeneroId"></select>
            </div>
            <div class="col-6">
                Plataforma
                <select asp-for="PlataformaId" class="form-select" asp-items="ViewBag.PlataformaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}